In [1]:
import pandas as pd
alunosDIC = {'Nome':['Ricardo', 'Pedro', 'Roberto', 'Carlos'],
         'Nota': [4, 7, 5.5, 9],
         'Aprovado': ['Não', 'Sim', 'Não', 'Sim']}

In [2]:
alunoDF = pd.DataFrame(alunosDIC)

In [3]:
print(alunoDF)

      Nome  Nota Aprovado
0  Ricardo   4.0      Não
1    Pedro   7.0      Sim
2  Roberto   5.5      Não
3   Carlos   9.0      Sim

In [4]:
alunoDF['Nome']

0    Ricardo
1      Pedro
2    Roberto
3     Carlos
Name: Nome, dtype: object

In [5]:
alunoDF['Nota']

0    4.0
1    7.0
2    5.5
3    9.0
Name: Nota, dtype: float64

In [6]:
alunoDF.loc[[0]]

      Nome  Nota Aprovado
0  Ricardo   4.0      Não

In [7]:
alunoDF.loc[[2]]

      Nome  Nota Aprovado
2  Roberto   5.5      Não

In [8]:
alunoDF.loc[[0,3]]

      Nome  Nota Aprovado
0  Ricardo   4.0      Não
3   Carlos   9.0      Sim

In [9]:
alunoDF.loc[0:2]

      Nome  Nota Aprovado
0  Ricardo   4.0      Não
1    Pedro   7.0      Sim
2  Roberto   5.5      Não

In [10]:
alunoDF.loc[alunoDF['Nome']=='Pedro']

    Nome  Nota Aprovado
1  Pedro   7.0      Sim