In [2]:
import pandas as pd
alunosDIC = {'Nome':['Ricardo', 'Pedro', 'Roberto', 'Carlos'],
         'Nota': [4, 7, 5.5, 9],
         'Aprovado': ['Não', 'Sim', 'Não', 'Sim']}

In [3]:
alunoDF = pd.DataFrame(alunosDIC)

In [4]:
print(alunoDF)

      Nome  Nota Aprovado
0  Ricardo   4.0      Não
1    Pedro   7.0      Sim
2  Roberto   5.5      Não
3   Carlos   9.0      Sim

In [6]:
alunoDF.head()

      Nome  Nota Aprovado
0  Ricardo   4.0      Não
1    Pedro   7.0      Sim
2  Roberto   5.5      Não
3   Carlos   9.0      Sim

In [7]:
alunoDF.shape

(4, 3)

In [8]:
alunoDF.describe()

           Nota
count  4.000000
mean   6.375000
std    2.136001
min    4.000000
25%    5.125000
50%    6.250000
75%    7.500000
max    9.000000